/* ==================================================
   CSS Imports
================================================== */

@import url("reset.css");
@import url("owlcarousel.css");
@import url("uikit.scrollspy.css");

/* ==================================================
   Icon Fonts
================================================== */

@import url("fonts/fontawesome/font-awesome.css");

/* ==================================================
   Google Fonts
================================================== */

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic,900,900italic");

/* ==================================================
   Global Styles
================================================== */

*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	height: 100%;
	overflow: auto;
	
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body
{
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	color: #999;
	background: #FFF;
	
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}

::selection
{
	background: #0093a0;
	color: #FFF;
}

::-moz-selection
{
	background: #0093a0;
	color: #FFF;
}

a
{
	color: #0093a0;
	text-decoration: none;
}

	a:hover
	{
		color: #444;
	}

/* ==================================================
   Default Typography
================================================== */

p
{
	margin: 0 0 20px 0;
}

strong
{
	font-weight: 600;
}

em
{
	font-style: italic;
}

h1, h2, h3
{
	font-size: 60px;
	line-height: 60px;
	margin: 0 0 20px 0;
	letter-spacing: -1px;
	font-weight: 300;
}

	h2
	{
		font-size: 38px;
		line-height: 38px;
	}
		
	h3
	{
		font-size: 32px;
		line-height: 32px;
	}

/* ==================================================
   Background Colours
================================================== */

.colour1
{
	background: #0093a0;
}

.colour2
{
	background: #01B8C8;
}

.colour3
{
	background: #EEE;
}


/* ==================================================
   Separator Arrows
================================================== */

.arrow-separator
{
	position: relative;
}

	.arrow-separator:after
	{
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-width: 12px;
		left: 50%;
		margin-left: -12px;
		z-index: 11;
	}
	
		.arrow-white:after
		{
			border-color: #FFF rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0); /** Using RGB to remove dark line in Firefox **/
		}
		
		.arrow-theme:after
		{
			border-color: #0093a0 rgba(0,147,160,0) rgba(0,147,160,0) rgba(0,147,160,0);
		}
		
		.arrow-themelight:after
		{
			border-color: #01B8C8 rgba(1,184,200,0) rgba(1,184,200,0) rgba(1,184,200,0);
		}

		.arrow-grey:after
		{
			border-color: #EEE rgba(238,238,238,0) rgba(238,238,238,0) rgba(238,238,238,0);
		}

/* ==================================================
   General Layout Styles
================================================== */

.fullwidth
{
	width: 100%;
	padding: 60px 30px;
	min-width: 280px;
}

	.fullwidth .bodycontainer
	{
		margin: 0 auto;
		width: 100%;
		max-width: 1000px;
		text-align: center;
	}
	
#topcontainer
{

}

	#topcontainer h1
	{
		padding: 6px 0 10px 0;
		margin-bottom: 0;
		letter-spacing: -1.5px;
		color: #444;
		font-weight: 400;
	}
	
		#topcontainer h1 span
		{
			font-size: 70px;
			line-height: 70px;
			letter-spacing: -1.4px;
			font-weight: 300;
		}

	#topcontainer p
	{
		margin-bottom: 0;
		color: #999;
	}

	#topcontainer p span
	{
		font-size: 90px;
		line-height: 90px;
		color: #01B8C8;
	}
	
#countdown
{
	color: #FFF;
}

	#countdown #countdowncont
	{
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
	}

		#countdown #countdowncont ul#countscript li
		{
			float: left;
			width: 25%;
			padding: 30px 0;
			margin: 0;
			list-style-type: none;
		}

			#countdown #countdowncont ul#countscript li span
			{
				font-size: 80px;
				line-height: 80px;
				font-weight: 300;
				color: #FFF;
			}

			#countdown #countdowncont ul#countscript li p
			{
				color: rgba(255, 255, 255, 0.6);
				font-weight: 300;
				font-size: 18px;
				line-height: 18px;
				margin: 0;
			}
		
#maincont
{
	color: #FFF;
}

	#maincont a
	{
		color: #FFF;
		opacity: 0.6;
	}
	
		#maincont a:hover
		{
			opacity: 1;
		}
	
	#maincont #signupform
	{
		margin: 0 auto 20px auto;
		width: 80%;
	}

		.sb-search
		{
			position: relative;
			width: 100%;
			min-width: 50px;
			height: 50px;
			overflow: hidden;
		}

			.sb-search .sb-search-input
			{
				position: absolute;
				top: 0;
				right: 0;
				border: none;
				outline: none;
				background: #FFF;
				border: 0;
				width: 100%;
				height: 50px;
				margin: 0;
				z-index: 10;
				padding: 0 65px 0 15px;
				font-family: inherit;
				font-size: 20px;
				color: #333;
				
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				
				-webkit-appearance: none;
			}

		button.formbutton, .sb-search-submit 
		{
			width: 60px;
			height: 60px;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			margin: 0;
			text-align: center;
			cursor: pointer;
		}

			.sb-search-submit
			{
				background: #FFF; /* IE needs this */
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
				filter: alpha(opacity=0); /* IE 5-7 */
				opacity: 0;
				color: transparent;
				border: none;
				outline: none;
				z-index: -1;
			}
			
			button.formbutton
			{
				color: #FFF;
				background: #0093a0;
				z-index: 90;
				border: 0;
				height: 50px;
			}
			
			button.formbutton span
			{
				font-size: 19px;
			}
			
				button.formbutton:hover
				{
					background: #0093a0;
				}
			
#quotecont
{
	padding: 30px 0;
}

	#quotecont .owl-theme .owl-controls .owl-page span
	{
		background: #CCC;
	}
	
		#quotecont .owl-theme .owl-controls .owl-page.active span,
		#quotecont .owl-theme .owl-controls.clickable .owl-page:hover span
		{
			background: #01B8C8;
		}

#footercont
{
	position: relative;
	font-size: 10px;
}

	#footercont #socialmedia ul
	{
		margin: 0 0 30px 0;
	}

	#footercont #socialmedia ul li
	{
		display: inline-block;
		list-style-type: none;
		margin: 0 10px;
	}

		#footercont #socialmedia ul li a
		{
			font-size: 36px;
			color: #999;
		}
		
			#footercont #socialmedia ul li a:hover
			{
				color: #01B8C8;
			}
			
	#footercont p.backtotop
	{
		margin: 0 0 40px 0;
	}

		#footercont p.backtotop a
		{
			position: relative;
			display: inline-block;
			background: #EEE;
			font-size: 32px;
			line-height: 32px;
			color: #999;
			padding: 5px 12px;
			
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		
			#footercont p.backtotop a:hover
			{
				background-color: #01B8C8;
				color: #FFF;
				text-decoration: none;
			}
			
				#footercont p.backtotop a:active
				{
					top: 2px;
				}

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */

@media screen and (max-width: 768px)
{

	body
	{
		font-size: 23px;
		line-height: 29px;
	}
	
	#topcontainer h1
	{
		font-size: 54px;
		line-height: 54px;
		letter-spacing: -1.2px;
	}

		#topcontainer h1 span
		{
			font-size: 70px;
			line-height: 70px;
		}
	
	#countdown #countdowncont
	{
		max-width: 400px;
	}
	
		#countdown #countdowncont ul#countscript li
		{
			width: 50%;
			padding: 10px 0;
		}
		
			#countdown #countdowncont ul#countscript li span
			{
				font-size: 70px;
				line-height: 70px;
			}
			
	#quotecont
	{
		padding: 15px 0;
	}
		
	#footercont
	{
		font-size: 19px;
	}
		
		#footercont #footerleft
		{
			float: none;
			padding: 30px 0;
			text-align: center;
		}
		
			#footercont #socialmedia ul li a
			{
				font-size: 32px;
			}
		
		#footercont #footerright
		{
			float: none;
		}
	
}

/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media screen and (max-width: 480px)
{	

	body
	{
		font-size: 21px;
		line-height: 27px;
	}
	
	#topcontainer h1
	{
		font-size: 36px;
		line-height: 36px;
		
	}

		#topcontainer h1 span
		{
			font-size: 50px;
			line-height: 50px;
		}
	
	#countdown #countdowncont ul#countscript li
	{
		padding: 6px 0;
	}
	
		#countdown #countdowncont ul#countscript li span
		{
			font-size: 62px;
			line-height: 62px;
		}

		#countdown #countdowncont ul#countscript li p
		{
			font-size: 16px;
			line-height: 16px;
		}
		
	#maincont #signupform
	{
		margin: 0 auto 20px auto;
		width: 100%;
	}
	
	#quotecont
	{
		padding: 5px 0;
	}
	
	#footercont #socialmedia ul li
	{
		margin: 0 5px;
	}
	
		#footercont #socialmedia ul li a
		{
			font-size: 28px;
		}
	
}

/* VERTICAL */

/* -------------------------------- 

Primary style

-------------------------------- */
/*html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  color: #7f8c97;
  background-color: #e9f0f5;
}

a {
  color: #acb7c0;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2 {
  color: #0093a0;
}*/

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-life {
  background: #0093a0;
}
.cd-timeline-img.cd-work {
  background: #006e78;
}
.cd-timeline-img.cd-study {
  background: #01B8C8;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #0093a0;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
  	color: #0093a0;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: left;
  }
  .cd-timeline-content p {
    font-size: 16px;
    text-align: left;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
    text-align: left;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
